// 				Imports
// ------------------------------------

// 			Mixins
@import "components/mixins.less";
//  		Reset
@import "components/reset.less";



// =============================================
//					Variables
// =============================================

// 					Colors
// ----------------------------------------

// 		Grays
@black:             #000;
@grayDarker:        #222;
@grayDark:          #333;
@gray:              #555;
@grayLight:         #999;
@grayLighter:       #eee;
@white:             #fff;

// 	   Accent colors
@red:				#F00;
@cyan:				#0FF;
@blue:				#00F;
@darkblue:			#00A;
@lightblue:			#ADE;
@purple:			#808;
@yellow:			#FF0;
@lime:				#0F0;
@magenta:			#F0F;
@silver:			#CCC;
@orange:			#FA0;
@brown:				#A22;
@maroon:			#800;
@green:				#080;
@olive:				#880;

// 			Base
@bodyBackgroundColor: 		@white;
@textColor:					@grayDark;
@LinkColor:					#28F;


@baseFontFamily:  		Arial, "Helvetica Neue", Helvetica, sans-serif;
@baseFontSize: 			14px;
@baseLineHeight: 		20px;

@headingsFontFamily: 	inherit;
@headingsFontWeight: 	bold;
@headingsColor: 		inherit;

@h1FontSize: 			@baseFontSize * 2.75;
@h2FontSize: 			@baseFontSize * 2.25;
@h3FontSize: 			@baseFontSize * 1.75;
@h4FontSize: 			@baseFontSize * 1.25;
@h5FontSize: 			@baseFontSize;
@h6FontSize: 			@baseFontSize * 0.85;

@baseBorderRadius:		4px;
@largeBorderRadius:		6px;
@smallBorderRadius: 	3px;
@miniBorderRadius:		@smallBorderRadius;

// 					  Grid
// ---------------------------------------------

@gridColumns: 			12;
@gridColumnWidth:		60px;
@gridGutterWidth:		20px;
@gridWidth: 			(@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridWidth);

// =============================================
// 					  Base
// =============================================

body {
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
	margin: 0;
	background-color: @bodyBackgroundColor;

	a {
		color: @LinkColor;
		text-decoration: none;

		&:hover,
		&:focus {
			color: darken(@LinkColor, 5%);	
			text-decoration: underline;
		}
	}

	&.red 			{ .linkColor(@red);}
	&.cyan 			{ .linkColor(@cyan);}
	&.blue 			{ .linkColor(@blue);}
	&.darkblue 		{ .linkColor(@darkblue);}
	&.lightblue 	{ .linkColor(@lightblue);}
	&.purple 		{ .linkColor(@purple);}
	&.yellow 		{ .linkColor(@yellow);}
	&.lime 			{ .linkColor(@lime);}
	&.magenta 		{ .linkColor(@magenta);}
	&.green 		{ .linkColor(@green);}
	&.olive 		{ .linkColor(@olive);}
	&.silver 		{ .linkColor(@silver);}
	&.orange 		{ .linkColor(@orange);}
	&.brown 		{ .linkColor(@brown);}
	&.maroon 		{ .linkColor(@maroon);}
}

.container {
	.clearfix();
	.center();
}

.fluid-container {
	.clearfix();
	padding: 0 @gridGutterWidth;
}


// =============================================
// 					  Grid
// =============================================

.grid {
	.clearfix();
	margin: 0 auto;
	width: @gridWidth;
}

.row {
	.clearfix();
	margin-top: @gridGutterWidth;

	&:first-child {
		margin-top: 0;
	}

	> [class^='span'] {
		float: left;
		margin-left: @gridGutterWidth;

		&:first-child {
			margin-left: 0;
		}
	}
		
	.span (@columns: 1) {
		background-color: #777;	
     	width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    }

    .spanX (@index: @gridColumns) when (@index > 0) {
    	.span@{index} {.span(@index);}
    	.spanX(@index - 1);
    }
	.spanX();
	
    &.fluid {
    	.clearfix();
    	width: 100%;
		float: left;
		[class^='span'] {
			margin-left: @fluidGridGutterWidth;
        	*margin-left: @fluidGridGutterWidth - (.5 / @gridWidth * 100 * 1%);

        	&:first-child {
        		margin-left: 0;
        	}
		}
		
		.span (@columns: 1) {
			width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1));
      		*width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridWidth * 100 * 1%);
		}

		.spanX (@index: @gridColumns) when (@index > 0) {
    		.span@{index} {.span(@index);}
    		.spanX(@index - 1);
   		 }
		.spanX();	
    }
}

// =============================================
// 					 Images
// =============================================

img {
	&.border {
		padding: 4px;
		background-color: @white;
		border: 1px solid @grayLight;
		.outer-shadow(0, 1px, 3px, 0.2);
	}
	&.rounded {
		.rounded(@baseBorderRadius);
	}
	&.circle {
		.rounded(50%);
	}
}

// =============================================
// 					Typography
// =============================================

p {
	margin-bottom: @baseLineHeight / 2;
}

small 	{ font-size: 85%;}
strong 	{font-weight: bold;}
em 		{ font-style: italic;}
cite 	{ font-style: normal;}

.headline {
	font-size: @baseFontSize * 1.5;
	font-weight: 200;
	line-height: @baseLineHeight * 1.5;
	margin-bottom: @baseLineHeight;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headingsFontFamily;
	font-weight: @headingsFontWeight;
	line-height: @baseLineHeight;
	margin: (@baseLineHeight / 2) 0;
	color: @headingsColor;

	small {
		font-weight: normal;
		line-height: 1;
		color: @grayLight;
	}
}

h1 { font-size: @h1FontSize; }
h2 { font-size: @h2FontSize; }
h3 { font-size: @h3FontSize; }
h4 { font-size: @h4FontSize; }
h5 { font-size: @h5FontSize; }
h6 { font-size: @h6FontSize; }

h1, h2, h3 {
	line-height: @baseLineHeight * 2;
}

h1 small { font-size: @baseFontSize * 1.75;}
h2 small { font-size: @baseFontSize * 1.25;}
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }

h1, h2, h3, h4, h5, h6,
p, div, address, pre, em, 
small, strong, cite, abbr {
	&.red 			{ color: @red;}
	&.cyan 			{ color: @cyan;}
	&.blue 			{ color: @blue;}
	&.darkblue 		{ color: @darkblue;}
	&.lightblue 	{ color: @lightblue;}
	&.purple 		{ color: @purple;}
	&.yellow 		{ color: @yellow;}
	&.lime 			{ color: @lime;}
	&.magenta 		{ color: @magenta;}
	&.green 		{ color: @green;}
	&.olive 		{ color: @olive;}
	&.silver 		{ color: @silver;}
	&.orange 		{ color: @orange;}
	&.brown 		{ color: @brown;}
	&.maroon 		{ color: @maroon;}
}

// 					Lists
// --------------------------------------------

ul, ol {
  padding: 0;
  margin-bottom: @baseLineHeight / 2;
  margin-left: 28px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: @baseLineHeight;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

dl {
  margin-bottom: @baseLineHeight;
}
dt,
dd {
  line-height: @baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: @baseLineHeight / 2;
}


hr {
	border: 0;
	margin: @baseLineHeight @baseLineHeight / 2;
	border-top: 1px solid @grayDark;
	border-bottom: 1px solid @grayLighter;
}

abbr[title] {
	border-bottom: 1px dashed @gray;
	cursor: help;
}



